.page {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cont {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  width: 400px;

  .card {
    width: 100%;

    .authCont {
      display: flex;
      flex-direction: column;
      align-items: center;

      .mainButton {
        width: 100%;
        margin-bottom: 12px;
      }
    }
  }

}